<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- WEB SITE HTTP ERRORS LIST START -->
		<httpErrors>
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
            <error statusCode="404" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
            <error statusCode="405" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
            <error statusCode="406" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
            <error statusCode="412" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
            <error statusCode="500" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
            <error statusCode="501" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
            <error statusCode="502" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
            <error statusCode="401" prefixLanguageFilePath="" path="http://scorpion3d.com/stop.html" responseMode="Redirect" />
        </httpErrors>
        <!-- WEB SITE HTTP ERRORS LIST END -->

        <!-- WEB SITE COMPRESSION LIST START -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <!-- WEB SITE COMPRESSION LIST START -->

        <!-- WEB SITE COMPRESSION BLACK LIST START -->
		<rewrite>
		<rules>
		<rule name="Blacklist block" stopProcessing="true">
			<match url="(?:jpg|jpeg|png|ico|gif|bmp)$" />
			<conditions>
				<add input="{HTTP_REFERER}" pattern="^https?://(.+?)/.*$" />
				<add input="{DomainsBlackList:{C:1}}" pattern="^block$" />
				<add input="{REQUEST_FILENAME}" pattern="splog.jpg" negate="true" />
			</conditions>
			<action type="Redirect" url="http://scorpion3d.com/assets/images/splog.jpg" appendQueryString="false" redirectType="Temporary"/>
		</rule>
		</rules>
		<rewriteMaps>
				<rewriteMap name="DomainsBlackList" defaultValue="allow">
					<add key="timer4web.com" value="block" />
					<add key="www.pirate4x4.com" value="block" />
					<add key="www.superbadguy.com" value="block" />
				</rewriteMap>
		</rewriteMaps>
		</rewrite>
        <!-- WEB SITE COMPRESSION BLACK LIST END -->
		
		

    </system.webServer>
</configuration>
